build/
dist/

.venv/
.vscode/
.idea/
compile_commands.json
.pytest_cache/
.mypy_cache/
wheelhouse/
__pycache__/
*.pyc
*.pyo
*.pyd

uringio.egg-info/
*.so
cpp-check-results/

docs/assets/testfiles.txt
docs/assets/tempfile.txt
docs_site/
